/*
color theme: https://github.com/rebelot/kanagawa.nvim
stole some css from: https://github.com/nathan-barry/nathan.rs/blob/main/static/css/styles.css
*/

/* body */

body {
    background-color: #16161D;
    color: #DCD7BA;
    font-family: sans-serif;
    margin: 2rem auto;
    padding: 2rem 1.25rem;
    line-height: 1.5;
    max-width: 100ch;
    min-height: 80vh;
}

/* paragraphs */

p {
    text-align: justify;
    hyphens: auto;
}

/* headings */

h1 {
    color: #7FB4CA;
}

h1 a {
    color: #7FB4CA;
    text-decoration: none;
}

h2 {
    color: #658594;
}

h2 a {
    color: #658594;
    text-decoration: none;
}

h3 {
    color: #658594;
}

h3 a {
    color: #658594;
    text-decoration: none;
}

h4 {
    color: #658594;
}

h4 a {
    color: #658594;
    text-decoration: none;
}

/* links */

a {
    color: #FFA066;
    text-decoration-style: dotted;
}

a:hover {
    color: #E82424;
}

/* header */

header {
    display: flex;
    border-bottom: 1px dashed #DCD7BA;
    margin-bottom: 1rem;
}

header nav {
    margin-left: auto;
    margin-top: auto;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

header nav ul li {
    margin-inline: 1rem;
}

/* metadata */

summary {
    font-style: italic;
    margin-bottom: 1rem;
}

time {
    border-left: 0.5rem solid #9CABCA;
    padding-left: 1rem;
    color: #9CABCA;
}

/* tables */

table {
    border-collapse: collapse;
    margin: auto;
    border-top: 0.2rem solid #E6C384;
    border-bottom: 0.2rem solid #E6C384;
}

th,
td {
    text-align: left;
    padding: 0.5rem;
}

table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 0.1rem solid #E6C384;
}

/* code */

code,
pre,
kbd {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 85%;
  color: #7AA89F;
}

p code,
li code,
ul code,
table code,
.notice code {
    background-color: #282828;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

pre {
  padding: 1rem 1.5rem;
  max-width: 100%;
  overflow: auto;
  border-radius: 4px;
}

pre code {
  font-size: 95%;
  position: relative;
}

/* tags */

.tags {
    padding-top: 2rem;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed #DCD7BA;
    margin-top: 1rem;
}

footer nav ul {
    padding-left: 0;
}

/* blockquotes */

blockquote {
    border-left: 0.5rem solid #9CABCA;
    padding-left: 1rem;
    color: #9CABCA;
}

blockquote p {
    margin-bottom: 0rem;
}

/* notices */

.notice {
    background-color: #363646;
    padding: 0.5rem 1rem;
    color: #DCD7BA;
}

.notice-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5em;
}

.notice-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
