/*
color theme from: https://github.com/rebelot/kanagawa.nvim
*/

body {
    background-color: #16161D;
    color: #DCD7BA;
    font-family: sans-serif;
    margin: auto;
    max-width: 50%;
}

header {
    display: flex;
    border-bottom: 1px dashed #DCD7BA;
    margin-bottom: 1rem;
}

.highlight {
    display: flex;
    overflow: auto;
}

.tags {
    padding-top: 2rem;
}

h1 {
    color: #7FB4CA;
}

h1 a {
    color: #7FB4CA;
}

h2 {
    color: #658594;
}

h2 a {
    color: #658594;
}

h3 {
    color: #658594;
}

h3 a {
    color: #658594;
}

header nav {
    margin-left: auto;
    margin-top: auto;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

header nav ul li {
    margin-inline: 1rem;
}

code {
    color: #7AA89F;
}

table {
    border-collapse: collapse;
    margin: auto;
}

summary {
    margin-bottom: 1rem;
}

td {
    padding: 0.5rem;
    border-top: 1px solid #E6C384;
    border-bottom: 1px solid #E6C384;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed #DCD7BA;
    margin-top: 1rem;
}

footer nav ul {
    padding-left: 0;
}

a {
    color: #FFA066;
    text-decoration: none;
}
